<a href="https://colab.research.google.com/github/Mary230/EGE/blob/main/%D0%95%D0%93%D0%AD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Задание 8**

2701

In [ ]:
from itertools import product, permutations
words = product('АВЕЛРФЬ', repeat=6 )
n = 1
for w in words:
    s = ''.join(w)
    if s.count('А') == 0 and s.count('Е') == 0:
        print(n)
        break
    n+=1

19609

191

In [ ]:
from itertools import product, permutations
words = product('КАНТ', repeat=6 )
s_set = set()
for w in words:
    s = ''.join(w)
    if s.count('К') == 2:
        s_set.add(s)
print(len(s_set))

1215

11300

In [ ]:
from itertools import product, permutations
words = product('БГДНОУШ', repeat=6)
ans = -1
n = 1
for w in words:
    s = ''.join(w)
    if s[0]!='Б' and n%2 == 1 and s.count('Н')>=2 and s.count('У')==0:
        ans = n
    n+=1
print(ans)

117625

11296

In [ ]:
from itertools import product, permutations
words = product('ДЖОС', repeat=6)
ans = 0
n = 1
for w in words:
    s = ''.join(w)
    if s[:2]=='ЖС':
        print(n)
        break
    n+=1

1793

# **Задание 12**

3733

In [ ]:
_set = set()
for n in range(1,1000):
    s = '1'*n
    while '1111' in s or '222' in s or '33' in s:
        if '1111' in s: s = s.replace('1111', '333', 1)
        elif '222' in s: s = s.replace('222', '11', 1)
        elif '33' in s: s = s.replace('33', '2', 1)
    s_set.add(s)
print(len(s_set))

1226

9159

In [ ]:
max_len = -1
min_ind = -1
for n in range(108,1000,9):
    s = '5'*n
    while '555' in s or '11' in s or '2' in s:
        if '555' in s: s = s.replace('555', '1', 1)
        if '11' in s: s = s.replace('11', '25', 1)
        if '2' in s: s = s.replace('2', '5', 1)
    if len(s) > max_len:
        max_len = len(s)
        min_ind = n
print(min_ind)

117

9542

In [ ]:
for n in range(101,1000):
    s = '5'*n
    while '555' in s or '11' in s or '2' in s:
        if '555' in s: s = s.replace('555', '1', 1)
        if '11' in s: s = s.replace('11', '25', 1)
        if '2' in s: s = s.replace('2', '5', 1)
    if s == '15':
        print(n)
        break

9699

In [ ]:
for n in range(1, 10000):
    s = '7'  + '2'*(n+2) + '3'*(n+3) + '1'*(n+1)
    while '71' in s or '72' in s or '73' in s:
        if '71' in s: s = s.replace('71', '227', 1)
        if '72' in s: s = s.replace('72', '37', 1)
        if '73' in s: s = s.replace('73', '17', 1)
    sum = 0
    for x in s:
       sum += int(x)
    if sum == 9*n:
        print(n)
        break

20